pipeline/pl_copy_git.json
{
	"name": "pl_copy_git",
	"properties": {
		"activities": [
			{
				"name": "Copy data from git",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set path",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_http_git",
						"type": "DatasetReference",
						"parameters": {
							"relurl": {
								"value": "@variables('relurl')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_delim_aztrainsav01",
						"type": "DatasetReference",
						"parameters": {
							"outpath": {
								"value": "@variables('outpath')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_metadata_git",
						"type": "DatasetReference",
						"parameters": {
							"metafile": {
								"value": "@pipeline().parameters.metafile",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "relurl",
					"value": {
						"value": "@activity('Lookup').output.value[0].relurl",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "outpath",
					"value": {
						"value": "@activity('Lookup').output.value[0].relurl",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"metafile": {
				"type": "string",
				"defaultValue": "copy_git_metadata.json"
			}
		},
		"variables": {
			"outpath": {
				"type": "String"
			},
			"relurl": {
				"type": "String"
			}
		},
		"annotations": []
	}
}